{% include 'admin_header.html' %}
<br><br><br><br>
<br><br><br>
<!--<h1 align="center" style="color:white;">Add Fuel Categorys</h1><br>-->
<style type="text/css">

        table{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        th{
            width: 25%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
        	width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
        	width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;

        }

        input{
            background-color:lightgrey;
        }
        input[type=text]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        input[type=submit]
        {
            width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }


    </style>
    <body >
        <form method="post">
        	<br>
            <u><h2 align="center" style="color:black;">Add Fuel Categorys</h2></u>
          <table  align="Center">
             <tr class="tr">
                <th>Category Name</th>
                <td class="td">
                    <input type="text" name="cname"  id="cname" required="" placeholder="Enter Category Name">
                </td>
            </tr>
           	<tr class="tr">
           		<td colspan="2" align="center" class="td">
           			<input type="submit" name="submit" value="Add Category" class="btn btn-success">
           		</td>
           	</tr>
           </table>
        </form>
    </body>


<br><br><br>
<br><br><br>
{% include 'footer.html' %}