{% include 'fuel_header.html' %}
<br><br><br>
<br><br><br>
<!--<h1 align="center" style="color:white;">View Fuel </h1><br>-->
<style>
.grid-container{
 	margin: 25px 50px ;
	display: grid;
	grid-template-columns: auto auto auto;
<!--	background-color: grey;-->
	padding: 10px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
.grid-item {
	background-color: lightgrey;
	padding: 10px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	}

 table{
	background-color: lightgrey;
	padding: 30px;
	text-align: center;
	border-radius:5px;
	width:90%;
	}

th{
	width:40%;
	padding: 20px;
	font-family: Calibri;
	font-size: 20px;
	resize:vertical;

	}
td{
	width:30%;
	padding: 20px;
	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}
tr{
	width:50%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;

        }
        input[type=text]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
		input[type=submit]
        {
            width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

</style>

	<h1 align="center" style="color:black;">View Employees  </h1><br>
<!--<h1 align="center" style="color:white;">View Fuel </h1><br>-->

	<div class="grid-container">

			{% for row in data['emp'] %}
					<div class="grid-item">
						<table>
							<tr>
								<th>Employee ID</th>
								<td>:</td>
								<td>{{row['employee_id']}}</td>
							</tr>
							<tr>
								<th>Name</th>
								<td>:</td>
								<td>{{row['emp_name']}}</td>
							</tr>
							<tr>
								<th>Address</th>
								<td>:</td>
								<td>{{row['address']}}</td>
							</tr>
							<tr>
								<th>Mobile Number</th>
								<td>:</td>
								<td>{{row['contact']}}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>:</td>
								<td>{{row['username']}}</td>
							</tr>
							<tr>
								<th colspan="3">
									<a href="?action=delete&id={{row['login_id']}}" class="btn btn-sm btn-danger" style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>
								</th>
							</tr>
						</table>
<!--						<h5>Employee    &nbsp&nbsp&nbsp&nbsp :    {{row['emp_name']}}</h5>-->
<!--                        <h5>Address    &nbsp&nbsp&nbsp&nbsp:    {{row['address']}}</h5>-->
<!--                        <h5>Mobile Number   &nbsp&nbsp&nbsp&nbsp :    {{row['contact']}}</h5>-->

<!--&lt;!&ndash;						<a href="?action=update&id={{row['empoyee_id']}}" class="btn btn-sm btn-info"  style="text-decoration: none; size: width=350px; height: 40px; padding:10px;" >Update</a>&ndash;&gt;-->
<!--						&nbsp&nbsp-->
<!--						<a href="?action=delete&id={{row['login_id']}}" class="btn btn-sm btn-danger" style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>-->
					</div>
			{% endfor %}
	</div>

</body>
<br><br><br>
<!--<br><br>-->

{% include 'footer.html' %}