{% include 'fuel_header.html' %}
<br><br><br>
<br><br><br>
<h1 align="center" style="color:white;"> Change password</h1><br>
<style type="text/css">

        table{
            width: 60%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
            left-margin:100px

        }
        th{
            width: 25%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
        	width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
        	width: 80%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;

        }

        input{
            background-color:lightgrey;

        input[type=password]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;

        }

        input[type=submit]
        {
            width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }


    </style>
    <body >
        <form method="post"  >
          <table  align="Center">
              <tr class="tr">
           		<th><b>Old Password</b></th>
           		<td class="td">
           			<input type="password" placeholder="Enter Old Password" name="psw1" required="">
           		</td>
              </tr>
              <tr class="tr">
           		<th><b>New Password</b></th>
           		<td class="td">
           			<input type="password" placeholder="Enter New Password" name="psw2" required="">
           		</td>
              </tr>
              <tr class="tr">
           		<th><b>Confirm Password</b></th>
           		<td class="td">
           			<input type="password" placeholder="Enter Confirm Password" name="psw3" required="">
           		</td>
              </tr>
              <tr class="tr">
                  <td colspan="2" align="center" class="td">
                      <input type="submit" name="submit" value="Change Now" class="btn btn-success">
                  </td>
              </tr>


          </table>
        </form>
    </body>
<br><br><br>
<!--<br><br>-->

{% include 'footer.html' %}