{% include 'fuel_header.html' %}
<br><br><br>
<br><br><br>
<style type="text/css">
	table{
		border: 1px solid gray;
		width: 80%;
		padding: 10px;
		background-color:lightgrey;
	}
	tr{
		border: 1px solid gray;
		padding: 10px;
	}
	th{
		border: 1px solid gray;
		padding: 10px;
		text-align: center;
	}
	td{
		border: 1px solid gray;
		padding: 10px;
	}

</style>
<body>
<!--<h1 align="center" style="color:white;">Fuel Stations</h1>-->

{% if data['count']==0 %}
<br><br><br><br>
<h1 align="center" style="color:black;"> No more New Requests</h1>

{% else %}
 <h3 align="center"><font size="20" color="black">View fuel requests</font></h3>

	<form method="post">
		<center>
	<table align="Center">
		<tr>
			<th>Date</th>
			<th>User Name</th>
			<th>Quantity</th>
			<th>Contact</th>
			<th>Place</th>
			<th>Total</th>
			<th>Request Status</th>
			<th>Approve Status</th>

		</tr>
		{% for row in data['req'] %}
		<tr>
			<td>{{row['date']}}</td>
			<td>{{row['name']}}</td>
			<td>{{row['quantity']}}</td>
			<td>{{row['phn_num']}}</td>
			<td>{{row['place']}}</td>
			<td>{{row['total']}}</td>

			<td>{{row['req_status']}}</td>

					<td>
						<a href="/fuel/fuelrequests?id={{row['request_id']}}" style="text-decoration: none" class="btn btn-primary">Accept</a>

<!--						<a href="/admin/adminview_fuelstations?id1={{row['login_id']}}" style="text-decoration: none" class="btn btn-primary">Reject</a>-->
					</td>

		</tr>
		{% endfor %}

	</table>
</center>
</form>
{% endif %}
</body>
<br><br><br>
<br><br><br>

{% include 'footer.html' %}