{% include 'publicheader.html' %}
<br><br><br><br>
<!--registration form 1 -->
<style type="text/css">
        /*.container{
            text-align: center;
            background-color: rgb(99, 109, 109);
            padding: 100px;
        }*/
        table{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        th{
            width: 25%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
        	width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
        	width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;

        }
         select{
            width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
            background-color:lightgrey;

        }

        input{
            background-color:lightgrey;
        }
        input[type=text]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=password]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;

        }
        input[type=email]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;

        }
        input[type=date]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;

        }
        input[type=radio]{
            width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;

        }
        input[type=submit]
        {
            width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }


    </style>
    <body >
        <form method="post">
        	<br>
            <u><h2 align="center" style="color:black;">User Registration</h2></u>
          <table  align="Center">
             <tr class="tr">
                <th>Full Name</th>
                <td class="td">
                    <input type="text" name="name"  id="fname" required="" placeholder="Your Full Name">
                </td>
            </tr>
              <tr class="tr">
                <th>Date of Birth</th>
                <td class="td">
                    <input type="date" name="dob" id="dob" required=""  placeholder="Date of Birth">
                </td>
            </tr>
              <tr class="tr">
           		<th>District</th>
           		<td class="td">
                    <select name="district" id="district">
                      <option>--------------Select Your District---------------</option>
                      <option value="kannur">Kannur</option>
                      <option value="kasargod">Kasargod</option>
                      <option value="kozhikode">Kozhikode</option>
                      <option value="malappuram">Malappuram</option>
                      <option value="wayanad">Wayanad</option>
                      <option value="ernakulam">Ernakulam</option>
                      <option value="idukki">Idukki </option>
                      <option value="palakkad">Palakkad</option>
                      <option value="thrissur">Thrissur</option>
                      <option value="alappuzha">Alappuzha</option>
                      <option value="kollam">Kollam</option>
                      <option value="kottayam">Kottayam</option>
                      <option value="pathanamthitta">Pathanamthitta</option>
                      <option value="thiruvananthapuram">Thiruvananthapuram</option>
                    </select>
<!--           			<input type="text" name="district" required=""  id="dist" placeholder=" Enter District" >-->
           		</td>
           	</tr>
              <tr class="tr">
           		<th>City</th>
           		<td class="td">
           			<input type="text" name="city" required=""  id="city" placeholder="Enter City">
           		</td>
           	</tr>
             <tr class="tr">
           		<th>Street</th>
           		<td class="td">
           			<input type="text" name="street" required=""  id="street" placeholder="Enter Street">
           		</td>
           	</tr>

              <tr class="tr">
                <th>Pincode</th>
                <td class="td">
                    <input type="text" name="pincode" required="" placeholder="Enter Pincode Number" pattern="[0-9]{6}">
                </td>
            </tr>
                <tr class="tr">
                <th>Mobile Number</th>
                <td class="td">
                    <input type="text" name="mobile" required="" placeholder="Enter Contact Number" pattern="[0-9]{10}">
                </td>
            </tr>

                <tr class="tr">
                <th>Email</th>
                <td class="td">
                    <input type="email" name="email" required="" placeholder="Enter Email-ID">
                </td>
            </tr>
           	<tr class="tr">
           		<th><b>Password</b></th>
           		<td class="td">
           			<input type="password" placeholder="Enter Password" name="password" required="">
           		</td>
           	</tr>
           	<tr class="tr">
           		<td colspan="2" align="center" class="td">
           			<input type="submit" name="submit" value="Register Now" class="btn btn-success">
           		</td>
           	</tr>
           </table>
        </form>
    </body>
<br><br>

{% include 'footer.html' %}