{% include 'user_header.html' %}
<br><br><br>
<br><br>><br>

        <style type="text/css">
        td{background-color: transparent;font-weight: 2px;color: black}
        hr{border-color: white;}
        #b {
            border: 1px solid grey;
            padding: 10px;
        }
    </style>
   <div align="center">

        <form method="post">
            <h2 style="color:black;"> Payment </h2>
<!--            <hr>-->
            <table style="width: 400px;" class="table table-borderless" id="b">
                <tr>
                    <td><font color="white">PAYMENT DETAILS</font></td>
                    <td><img src="/static/img/ccard.jpg" style="width:100%"/></td>

                </tr>
                <tr>
                    <td colspan="2"> <small><font color="white">CARD NUMBER</font></small><br>
                        <input type="text" placeholder="Enter a valid card number" name="cnum"  class="form-control"  pattern="[0-9]{16}" title="Enter 16 digit Card number">
                    </td>
                </tr>
                <tr>

                    <td > <small><font color="white">CVV</font></small><br>
                        <input type="password" placeholder="CVV"  class="form-control"  pattern="[0-9]{3}" title="Enter 3 digit CV number">
                    </td>
                    <td> <small><font color="white">EXPIRATION DATE</font></small><br>
                        <input type="text" placeholder="MM/YY"  class="form-control"  pattern="[0-9,/]{5}" title="Enter 3 digit CV number">
                    </td>


                </tr>
                <tr>
                    <td colspan="2"> <small><font color="white">CARD HOLDER</font></small><br>
                        <input type="text" placeholder="Name on card" name="cname" class="form-control" data-valid='only-text'  > </td>
                    </tr>
                <tr>
                    {% for i in data['amd'] %}
                    <td colspan="2"> <small><font color="white">TOTAL AMOUNT  </font></small>
                        <input type="text" class="form-control" value="{{i.total}} " name="total" readonly>
                     </td>
                    {% endfor %}
                    </tr>
                <td colspan="2">
                              <input type="submit" name="submit" value="PAY" class="btn btn-success" style="width: 100%">
                           </td>
                          </tr>
                        </table>


                    <div>
<!--                        <tr>-->
<!--                        <input type="hidden" name="oid" value="data['oid']">-->
<!--    <td>  <input type="radio" name="type" value="CoD" required=""><font color="white">Cash on Delivery</font><br></td>-->
<!--<td>  <input type="radio" name="type" value="online" required=""><font color="white">Online Payment</font><br></td>-->

<!--</tr>-->
<!--<tr><button name="buy" class="btn btn-success">Buy</button></tr>-->

                    </div>
  </table>
                </form>

                    </div>
<!--                <hr>-->

<br><br>><br>
{% include 'footer.html' %}        